.places__link {
  max-width: fit-content;
  align-self: self-end;
  color: inherit;
  line-height: 1.22;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid white;
  justify-self: start;
  transition: opacity 0.2s linear;
}

.places__link:hover {
  opacity: 0.8;
}