.footer__links {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 18px;
  }
  
  @media screen and (max-width: 540px) {
    .footer__links {
      max-width: fit-content;
      flex-direction: column;
      gap: 32px;
    }
  }