.lead__image {
  max-width: 100%;
  height: auto;
  }


  @media screen and (max-width: 1024px) {
    .lead__img {
      width: 70%;
    }
  }

  @media (max-width: 767px) {
    .lead__image {
      padding-top: 40px;
  
    }
  }