.intro {
  margin: 0 auto;
  max-width: var(--small-container);
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 0 16px;
  }
}