.cover {
  background-position: center;
  background-size: cover;
  margin-top: 92px;
  margin-bottom: 92px;
  margin-left: 48px;
  margin-right: 48px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}
