.cover {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*48px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 690px) {
  .cover {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}
